*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #b2d6e0;
}

body {
  color: #272727 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  padding: 1rem !important;
  font-family: "Roboto" !important;
}
